:root{
         --primary: #121212;
         --secondary: #fff;
         --boxbutton: #b4aaa3;

         --text:#fff;
         --highlight:#e2dfdd;
         
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.secao1{
    background-color: var(--primary);
    padding: 70px 0px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "hero hero"
     "txt galeria";
    gap:30px;
}
.hero {
    grid-area: hero;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}
.txt{
    grid-area: txt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px ;
}
.txt p{
    color: var(--text);
    font-size: 0.95rem;
    line-height: 1.5;
}
button{
    background-color: var(--boxbutton);
    border-radius: 100px;
    border:solid 2px var(--boxbutton);
    color:var(--primary);
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: backgroud-color  0.3s ease tranform 0.2s ease;
   
}
button:hover{
    background-color: #e2dfdd;
}
button:focus{
    transform: scale(1.05);
}
.galeria{
    grid-area: galeria;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}
.galeria img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease;
}
.galeria img:hover {
    transform: scale(1.05);
}
